services:
  db:
    image: docker.io/postgres:18-alpine
    restart: always
    environment:
      - POSTGRES_USER=blazebooru
      - POSTGRES_PASSWORD=blazebooru
      - POSTGRES_DB=blazebooru
    volumes:
      - db:/var/lib/postgresql
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    depends_on:
      - db
    restart: always
    environment:
      - BLAZEBOORU_CONFIG_PATH=/mnt/config
      - BLAZEBOORU_JWT_SECRET=${BLAZEBOORU_JWT_SECRET}
    volumes:
      - ${BLAZEBOORU_CONFIG_PATH}:/mnt/config
      - files:/mnt/files
  http:
    build:
      context: .
      dockerfile: ./http/Dockerfile
    depends_on:
      - backend
    restart: always
    ports:
      - "${BLAZEBOORU_PORT}:80"
    volumes:
      - ./http/nginx/conf.d:/etc/nginx/conf.d:ro
      - files:/mnt/files:ro

volumes:
  db:
  files:
